
.contenido h1 {
    color: red;
}



.contenidoxxx {
    background-color: whitesmoke;
    position: fixed;
    width: 500px;
    height: 500px;
    top:80px;
    left:100px;
}


.miboton {
    font-size: 2em !important;
}