

.lateral h1 {
    color: blue;
}

.cerveza {
    color: red;
    font-size: 4em;
}


.lateralxxxx {
    background-color: burlywood;
    position: fixed;
    width: 100px;
    height: 500px;
    top:80px;
    left:0;
}